.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 150px;
  padding-left: 30%;
  padding-right: 30%;

  background-color: cadetblue;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

mat-form-field {
  color: #ffffff;
}

